NODE_ENV=your_status_here
PORT=8080
NAVER_CLIENT_ID=your_client_id_here
NAVER_CLIENT_SECRET=your_client_secret_here
DATABASE_URL=your_database_url_here
JWT_SECRET_KEY=your_jwt_secret_key_here
JWT_REFRESH_SECRET_KEY=your_jwt_refresh_secret_key_here
NAVER_CALLBACK_URL=your_naver_callback_url_here
SERVER_URL=http://localhost:8080